.chat_plus{
    position:relative;
}
.chat_plus .fa-plus{
    position:absolute;
    background-color:white;
    font-size:5px;
    width:12px;
    height:12px;
    display:flex;
    justify-content: center;
    align-items: center;
    top:7px;
    right:-4px;
    
}
.chats_icon_components{
    margin-top:30px;
}
.red_circle_icon_chats{
   }

.icon_text_components_column_date{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}   
.icon_text_components_column_msg_chats{
    margin-top:11px;
    background-color:tomato;
    width:24px;
    height:24px;
    border-radius: 50%;
    font-size:13px;
  color:white;
  display:flex;
  justify-content: center;
  align-items: center;
}
.icon_text_components_column_time{
    opacity:0.5;
}

