#index_title, #index_subtitle, .find_account, #index_login_btn{
    display:flex;
    justify-content: center;
    align-items: center;
}
#index_title{
    font-size:30px;
    font-weight:600;
    margin-top:120px;
    margin-bottom:40px;
}
#index_subtitle{

    opacity:0.4;
}
#index_form{
    display:Flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    margin:0px 45px;
    margin-top:55px;
}
#index_form input[type=submit]{
    margin-top:40px;
    padding:15px 2px;
    border:none;
    border-radius:10px;
    margin-bottom:30px;
    font-size:17px;
    font-weight: 600;
    cursor:pointer;
    transition:0.5s ease-in-out;   
}
#index_form input[type=submit]:hover{
    background-color: var(--yellow);
}
#index_form input:not([type=submit]){
    border:none;
    padding:30px 2px;
    border-bottom:1px solid rgba(0,0,0,0.2);
    transition: 0.5s ease-in-out;
    margin-bottom:15px;
} 
#index_form input:not([type=submit]):hover{
    border-bottom:1px solid rgba(0,0,0,0.35);
}
.find_account{
    opacity:0.5;
    cursor:pointer;
    transition: all 0.5s ease-in-out;
}
.find_account:hover{
    opacity:1;
}