.nav_bar_column:nth-child(3) {
  position: relative;
}
.nav_bar_column:nth-child(3) span {
  background-color: black;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  position: absolute;
  font-size: 0px;
  right: 8px;
  top: 2px;
}
.find_icon_list {
  display: flex;
  justify-content: space-around;
  margin-top: 45px;
}
.find_icon_column_icon,
.find_icon_column_text {
  display: flex;
  justify-content: center;
  align-items: center;
 
}
.more_icon_column_icon{
  font-size:30px;
}
.find_icon_column_icon{
  font-size:45px;;
}
.more_icon_column_icon,
.find_icon_column_icon {
  
  margin-bottom: 20px;
}
.find_icon_column {
  cursor: pointer;
  opacity: 0.7;
  width:25%;
}
.Recomen_friends {
  margin-top: 40px;
  padding-top: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.Recomen_friends h1 {
  opacity: 0.4;
}
.Recomen_friends h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 140px;
  opacity: 0.4;
}
.open_chat {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  padding-top: 15px;
}
.open_chat_title {
  opacity: 0.4;
}
.open_chat_subtitle {
  opacity: 0.25;
  cursor: pointer;
}
.open_chat_genesis {
  display: Flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  cursor: pointer;
}
.open_chat_genesis_img img {
  width: 120px;
  height: 120px;
  border-radius: 10px;
}
.open_chat_genesis_img {
  position: relative;
}
.open_chat_genesis_img span {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border-radius: 15px;
  display: flex;
  top: 90px;
  right: 8px;
  padding: 4px 8px;
  font-size: 16px;
  justify-content: center;
  align-items: center;
}
.open_chat_genesis_img .fa-heart {
  margin-right: 5px;
  font-size: 11px;
}
.open_chat_genesis_title h3 {
  display: flex;
  align-items: center;
}
.open_chat_genesis_title h3 img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 5px;
}
.open_chat_genesis_title h1 {
  font-size: 23px;
  margin-bottom: 8px;
}
.open_chat_genesis_title h3 {
  font-size: 18px;
  margin-bottom: 8px;
  opacity: 0.5;
}
.open_chat_genesis_title h3:last-child span {
  font-size: 15px;
}
.open_chat_genesis_title h3:last-child span:last-child {
  color: #ff6ac6;
}
.open_chat_genesis_title h3 .divider {
  height: 13px;
  width: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0px 5px;
}
.open_chat_genesis_img:hover .fa-heart{
animation:heartbeat 0.5s ease-in-out infinite;
}
.open_chat_genesis_img .fa-heart{
  will-change: transform;
}
@keyframes heartbeat{
  0%{color:white;
    transform:none;

  }
  50%{
    color:red;
    transform:scale(1.4);
  }
  100%{
   color:white;
      transform:none;
  
    }
  }
}

