.icon_text_components_img_l {
  width: 60px;
  height: 60px;
}
.icon_text_components_img_m {
  width: 55px;
  height: 55px;
}
.icon_text_components_img_s {
  width: 50px;
  height: 50px;
}
.icon_text_components {
  display: flex;
  justify-content: space-between;
}
.icon_text_components_column {
  display: flex;
  align-items: center;
}
.icon_text_components_img {
  border-radius: 40%;
  margin-right: 15px;
}
.icon_text_components_column_contents_title {
  font-size: 24px;
}
.icon_text_components_column_channel {
  font-size: 14px;
  opacity: 0.4;
  cursor: pointer;
}
.icon_text_components_column_contents_title_m {
  font-size: 17px;
}
.icon_text_components_column_contents{
  display:flex;
  flex-direction: column;
}
.icon_text_components_column_contents_subtitle{
  margin-top:8px;
  font-size:15px;
  opacity:0.5;
}