.main_header {
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  margin-top: 30px;
}

.main_header_column:last-child {
  font-size: 25px;
  display: flex;
  align-items: center;
}

.main_header_column span {
  margin-left: 20px;
}
